body {
  background: linear-gradient(
    90deg,
    rgba(47, 255, 246, 1) 36%,
    rgba(64, 212, 236, 1) 70%
  );
  margin: 0;
  font-family: "Poppins", sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.center {
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
