body {
  background: linear-gradient(
    90deg,
    rgba(47, 255, 246, 1) 36%,
    rgba(64, 212, 236, 1) 70%
  );
  margin: 0;
  font-family: "Poppins", sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.center {
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

/* Estilos del scroll */
.scroll-style {
  height: 480px;
  overflow-y: scroll;
}
.scroll-style::-webkit-scrollbar {
  -webkit-appearance: none;
}
.scroll-style::-webkit-scrollbar:vertical {
  width: 5px;
}
.scroll-style::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
}
